@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --martabge-rose: #ba6776;
  --martabge-cream: #f9f3ed;
  --martabge-sage: #8b9f96;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-cream text-ink font-sans antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
